
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 400px;
    width: 100%;
}


.location {
    z-index: 1000;
}
.jumbotron  {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    background-color: #000000;
}

#jumbo-logo1    {
    height: 20%;
    width: 20%;
    border-radius: 10px;
}

#jumbo-logo2   {
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

.logo1    {
    display: inline;
}

.logo2    {
    display: inline;
}

p   {
    text-align: center;
}

body    {
    background: radial-gradient(circle, white, #f7941e);
}

.card-header    {
    background-color: #2f2f2f;
    color: #c6c8c8
}

#searchButton   {
    width: 18%;
    height: 100%;
    float: right;
    box-shadow: inset 0px 1px 6px 1px;
    background-color: #2f2f2f;
    font-size: 70%;
    border: none;
}

footer  {
    text-align: center;
}

.card   {
    background-color: #c6c8c8;
    border-color: #2f2f2f;
    margin-bottom: 3%;
}

thead {
    border: none;
}

#mapBox, #safetyRating {
    margin-bottom: 3%;
}

table tr:nth-child(2)  {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    margin-right: 10%;
}

.resultsFace    {
    height: 15%;
    width: 15%;
}

#address  {
    width: 100%;
    margin-bottom: 5%;
    font-size: 100%;
}

.topcoat-text-input--large   {
    border-radius: 10px;
    height: 80%;
    margin-bottom: 5%;
}

#submit {
    width: 49%;
    margin: none;
}

#reset  {
    width: 49%;
    margin: none;
}

.topcoat-button  {
    background-color: #2f2f2f;
    font-size: 100%;
    text-align: center;
    box-shadow: inset 0px 1px 6px 1px;
    border: none;
    margin: 0;
}

#buttonRow  {
    display: inline;
}

.topcoat-button-bar__item   {
    height: 80%;
}

#resultBox  {
    margin-bottom: 5%;
}

#crimeCard  {
    margin-bottom: 5%;
}

#rating {
    font-size: 22px;
}
