
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.mapShown{
    height: 400px;
    width: 450px
}
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
    
#address {
    width: 450px;
}

.location {
    z-index: 1000;
}
